ul, ol{
    list-style: none;
}
nav{
   background-color:#F4E5E7  ;
text-align: center;
padding: 5px 0;

}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 20px;
    display: inline-block;
    transition: 0.3s;
}
nav ul li a:hover{
    background-color: rgba(0, 0, 128, 0.089);
}
#first{
    padding: 1px;
}
#first ul{
    width: 500px;
text-align: left;
}
#first ul li a{
    padding: 0 15px;
    color: white;
}